* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

box {
  width: 200px;
  height: 200px;
  background-color: rgb(67, 26, 26);
  border: 10px solid rgb(144, 35, 35);
  padding: 20px 20px;
  margin: 10px;
}
